body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Akash {
  color: rgb(117, 34, 234);
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(255, 2, 225),
    rgb(136, 4, 208),
    blue,
    rgb(136, 4, 208),
    rgb(255, 2, 225)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: project 2.5 s linear infinite;
}

#Akash:hover {
  cursor: pointer;
  scale: 1.1;
}

nav {
  color: rgb(244, 246, 247);
  display: flex;
  gap: 5vw;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: large;
}

nav a:hover {
  cursor: pointer;
  color: rgb(122, 37, 240);
}

header {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  margin-left: 2vw;
}

#Hire-Me {
  color: rgb(253, 254, 255);
  background-color: rgb(114, 33, 205);
  height: 7.5vh;
  width: 8vw;
  padding: 3px;
  font-size: large;
  border-radius: 5px;
  border: none;
}

#Hire-Me:hover {
  scale: 1.1;
  cursor: pointer;
  background-color: rgb(103, 28, 182);
}

aside {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-left: 2vw;
  position: sticky;
  top: 0;
  width: 10vw;
  margin-top: 5vh;
}

main {
  justify-content: space-around;
}

.my-img {
  float: right;
  height: 50vh;
  margin-top: -5vh;
  border-radius: 100%;
}

.icons-1 {
  height: 5vh;
  text-decoration: none;
}

.icons-1:hover {
  cursor: pointer;
  scale: 1.2;
}

#section-1 {
  margin-top: -58vh;
  color: rgb(255, 255, 255);
}

#section-2 {
  margin-top: 15vh;
  margin-left: 10vw;
  width: 75vw;
}

.para-1 {
  color: rgb(173, 176, 178);
  height: 6px;
  margin-left: 5vw;
}

#buttons {
  border: 1px solid rgb(255, 254, 252);
  display: flex;
}

#button-1 {
  /* background-color: rgb(114, 34, 205); */
  background-color: black;
  padding: 15px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: x-large;
  height: 8vh;
  width: 13vw;
  border-radius: 25px;
  margin-left: 5vw;
  margin-top: 7vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-1::after {
  content: "";
  position: absolute;
  height: 110%;
  width: 107%;
  border-radius: 1000px;
  background-image: linear-gradient(
    to bottom right,
    rgb(51, 63, 197),
    rgb(188, 55, 188)
  );
  z-index: -1;
}

#button-1:hover {
  cursor: pointer;
  background-color: rgb(103, 28, 182);
  scale: 1.1;
  z-index: 0;
}

#button-2 {
  background-color: rgb(0, 0, 0);
  border: none;
  text-decoration: none;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: x-large;
  height: 8vh;
  width: 14vw;
  border-radius: 25px;
  margin-left: 22vw;
  margin-top: -8vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#button-2::after {
  content: "";
  position: absolute;
  height: 110%;
  width: 107%;
  border-radius: 1000px;
  background-image: linear-gradient(
    to bottom right,
    rgb(51, 63, 197),
    rgb(188, 55, 188)
  );
  z-index: -1;
}

#button-2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: rgb(108, 66, 157);
  z-index: 0;
}

#section-3 {
  margin-top: 10vh;
  color: rgb(255, 255, 255);
  margin-bottom: 7vh;
}

#About-Me {
  display: flex;
  color: aliceblue;
  font-size: x-large;
  margin-left: 23vw;
}

.para-2 {
  margin-left: 28vw;
}

.para-3 {
  margin-left: 23vw;
}

.About-Me-H {
  margin-left: 6vw;
  margin-top: 10vh;
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(255, 2, 225),
    rgb(136, 4, 208),
    blue,
    rgb(136, 4, 208),
    rgb(255, 2, 225)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: project 2.5 s linear infinite;
}

#scroll {
  height: 5vh;
  margin-top: 1.5vh;
}

#down {
  height: 8vh;
}

#scroll-down:hover {
  cursor: pointer;
}

#main-content {
  margin-right: -6vw;
}

.icons-2 {
  height: 30px;
}

.icons-3 {
  height: 50px;
}


#skills-H{
  margin-top: 18vh;

  text-align: center;
  background: linear-gradient(
    to right,
    rgb(255, 2, 225),
    rgb(136, 4, 208),
    blue,
    rgb(136, 4, 208),
    rgb(255, 2, 225)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: project 2.5 s linear infinite;
}


#skills:hover {
  cursor: pointer;
}


.skills{
  display: flex;
  margin-left: 10vw;
  overflow-x: scroll;

}

.carousel{
  overflow-x: auto;
}

.carousel::-webkit-scrollbar{
  display: none;
}

.group{
  display: flex;
  animation: spin  5s infinite linear;
  padding-right: 1em;
}


@keyframes spin {
  from{
    translate: 0;
  }
  to{
    translate: -100%;
  }
  
}

.cards-1{
  flex: 0 0 2em;
}

.HTML {
  height: 130px;
  margin-bottom:-3vh ;
}

.CSS {
  height: 70px;
 margin-top: 3vh;
  margin-left: -1vw;
}

.Javascript {
  height: 110px;
}

.React {
  height: 80px;
  margin-left: 3.5vw;
  margin-top: 2.5vh;
}

.C {
  height: 120px;
  margin-bottom: -1.7vh;
}

.C-plus-plus {
  height: 95px;
  margin-top: 2vh;
  margin-left: 1.5vw;
}

.Java {
  height: 120px;
  margin-bottom: -1.5vh;
  margin-left: 1vw;
}

.Python {
  height: 80px;
  margin-left: 4vw;
  margin-top: 2vh;
}

.Bootstrap {
  height: 60px;
  border-radius: 10px;
  margin-left: 4vw;
 margin-top: 4vh;
}

.Project-H {
  margin-top: 10vh;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(255, 2, 225),
    rgb(136, 4, 208),
    blue,
    rgb(136, 4, 208),
    rgb(255, 2, 225)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: project 2.5 s linear infinite;
}


.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 15vh;
}

.cards{
  position: relative;
  width: 170px;
  height: 234px;
  background-color: black;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.cards::before{
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, rgb(255, 3, 209) 0%, rgb(4, 209, 250) 100%);
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175,0.885,0.32,1.275);
  z-index: -10;
}

.cards::after{
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: linear-gradient(-45deg, rgb(255, 3, 209)0%, rgb(4, 209, 250) 100%);
  transform: translate3d(0,0,0) scale(0.95);
  filter: blur(20px);
}

.heading{
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  
}

.cardsp:not(.heading)
{
  font-size: 14px;

}

.cards:hover::after{
  filter: blur(30px);
}

.cards:hover::before{
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);

}

.Amazon-Clone{
  margin-left: 5vw;
}

ul {
  font-size: large;
  margin-left: 10vw;
}

#section-4 {
  color: rgb(255, 255, 255);
}



footer {
  color: rgb(251, 253, 255);
  display: flex;
  margin-top: 20vh;
  gap: 5vw;
  margin-bottom: 5vh;
}

li {
  margin-top: 2vh;
  color: rgb(173, 176, 178);
}

#footer-div-one {
  margin-left: 7vw;
}

@media (max-width: 1200px) {
  #Hire-Me {
    width: 10vw;
    height: 6.5vh;
  }

  .buttons {
    display: flex;
   
  }

#button-2{
  margin-top: 7vh;
  margin-left: 5vw;
}

  main {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 922px) {
  nav a {
    font-size: medium;
  }

  header {
    justify-content: space-evenly;
  }

  #Hire-Me {
    width: 10vw;
  }

  .my-img {
    float: none;
    height: 70vh;
    margin-left: 13vw;
  }

  #introduction-content {
    display: flex;
    margin-top: 5vh;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin-top: -3vh;
  }

  #button-1 {
    width: 23vw;
    margin-left: 10vw;
  }

  #button-2 {
    width: 23vw;
    margin-left: 10vw;
  }

  #About-Me {
    margin-left: 8vw;
  }

  .para-2 {
    margin-left: 15vw;
  }

  .para-3 {
    margin-left: 9vw;
  }

.projects{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.Amazon-Clone{
  margin-left: 10vw;
}

.Youtube-Clone{
  margin-left: 5vw;
}

.Starbucks-Clone{
  margin-top: 5vh;
  margin-left: 10vw;
}

  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #footer-div-one {
    margin-left: 9vw;
  }

  .footer-skills {
    margin-left: 10vw;
  }

  .footer-projects {
    margin-left: 5vw;
  }
}

@media (max-width: 768px) {
  #Hire-Me {
    height: 6vh;
  }

  .my-img {
    float: none;
    height: 60vh;
    margin-left: 15vw;
  }

  #introduction-content {
    display: flex;
    flex-direction: column;
    margin-left: 18vw;
  }

  .buttons {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    margin-left: -10vw;
  }

  #button-1 {
    width: 23vw;
  }

  #button-2 {
    width: 23vw;
    margin-left: 5vw;
  }

  .image-1 {
    display: none;
  }
  #About-Me {
    margin-left: 14vw;
  }

  .para-2 {
    margin-left: 14vw;
  }

  .para-3 {
    margin-left: 14vw;
  }


.projects{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.Amazon-Clone{
  margin-left: 18vw;
}

.Netflix-Clone{
  margin-top: 8vh;
  margin-left: 18vw;
}

.Starbucks-Clone{
margin-left: 5.5vw;
margin-top: 8vh;
}


  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-skills {
    margin-left: 10vw;
  }
}

@media (max-width: 576px) {
  header {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  #Akash {
    margin-left: 23vw;
    margin-bottom: -0.5vh;
  }

  nav {
    margin-left: 25vw;
    gap: 7vw;
  }

  #Hire-Me {
    width: 50vw;
    margin-left: 22vw;
    font-size: xx-large;
    height: 7vh;
  }

  .my-img {
    float: none;
    height: 40vh;
    margin-left: 25vw;
  }

  #introduction-content {
    display: flex;
    flex-direction: column;
    margin-left: 23vw;
  }

  .buttons {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    margin-left: -14vw;
  }

  #button-1 {
    width: 30vw;
  }

  #button-2 {
    width: 30vw;
    margin-left: 5vw;
  }

  .para-2 {
    margin-left: 14vw;
  }

  .para-3 {
    margin-left: 14vw;
  }

.projects{
  display: grid;
  grid-template-columns: repeat(1fr);
}


  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-services {
    margin-left: 9vw;
  }

  .footer-contact-me {
    margin-left: 9vw;
    margin-top: -15vh;
  }
}


